<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetYZM</servlet-name>
    <servlet-class>com.sym.servlet.GetYZM</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.sym.servlet.Register</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.sym.servlet.Login</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMyStore</servlet-name>
    <servlet-class>com.sym.servlet.GetMyStore</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetLimitsStore</servlet-name>
    <servlet-class>com.sym.servlet.GetLimitsStore</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAreaStore</servlet-name>
    <servlet-class>com.sym.servlet.GetAreaStore</servlet-class>
  </servlet>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Sign</servlet-name>
    <servlet-class>com.sym.servlet.Sign</servlet-class>
  </servlet>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Book</servlet-name>
    <servlet-class>com.sym.servlet.Book</servlet-class>
  </servlet>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CancelBook</servlet-name>
    <servlet-class>com.sym.servlet.CancelBook</servlet-class>
  </servlet>    
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetMyBooks</servlet-name>
    <servlet-class>com.sym.servlet.GetMyBooks</servlet-class>
  </servlet>   
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetCount</servlet-name>
    <servlet-class>com.sym.servlet.GetCount</servlet-class>
  </servlet>    
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllUsers</servlet-name>
    <servlet-class>com.sym.servlet.GetAllUsers</servlet-class>
  </servlet> 
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.sym.servlet.DeleteUser</servlet-class>
  </servlet>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetOneUser</servlet-name>
    <servlet-class>com.sym.servlet.GetOneUser</servlet-class>
  </servlet>     
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>com.sym.servlet.UpdateUser</servlet-class>
  </servlet>  
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetAllBooks</servlet-name>
    <servlet-class>com.sym.servlet.GetAllBooks</servlet-class>
  </servlet> 
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoBook</servlet-name>
    <servlet-class>com.sym.servlet.DoBook</servlet-class>
  </servlet>   
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>NotDoBook</servlet-name>
    <servlet-class>com.sym.servlet.NotDoBook</servlet-class>
  </servlet>   
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateUserWX</servlet-name>
    <servlet-class>com.sym.servlet.UpdateUserWX</servlet-class>
  </servlet> 
  
  
  <servlet-mapping>
    <servlet-name>GetYZM</servlet-name>
    <url-pattern>/GetYZM</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>GetMyStore</servlet-name>
    <url-pattern>/GetMyStore</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>GetLimitsStore</servlet-name>
    <url-pattern>/GetLimitsStore</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>GetAreaStore</servlet-name>
    <url-pattern>/GetAreaStore</url-pattern>
  </servlet-mapping>   
  
  <servlet-mapping>
    <servlet-name>Sign</servlet-name>
    <url-pattern>/Sign</url-pattern>
  </servlet-mapping>   
  
  <servlet-mapping>
    <servlet-name>Book</servlet-name>
    <url-pattern>/Book</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>CancelBook</servlet-name>
    <url-pattern>/CancelBook</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>GetMyBooks</servlet-name>
    <url-pattern>/GetMyBooks</url-pattern>
  </servlet-mapping>    
  
  <servlet-mapping>
    <servlet-name>GetCount</servlet-name>
    <url-pattern>/GetCount</url-pattern>
  </servlet-mapping> 
  
  <servlet-mapping>
    <servlet-name>GetAllUsers</servlet-name>
    <url-pattern>/GetAllUsers</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>  
  
  <servlet-mapping>
    <servlet-name>GetOneUser</servlet-name>
    <url-pattern>/GetOneUser</url-pattern>
  </servlet-mapping>   
  
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>   
  
  <servlet-mapping>
    <servlet-name>GetAllBooks</servlet-name>
    <url-pattern>/GetAllBooks</url-pattern>
  </servlet-mapping>   
  
  <servlet-mapping>
    <servlet-name>DoBook</servlet-name>
    <url-pattern>/DoBook</url-pattern>
  </servlet-mapping>    
  
  <servlet-mapping>
    <servlet-name>NotDoBook</servlet-name>
    <url-pattern>/NotDoBook</url-pattern>
  </servlet-mapping>  
 
  <servlet-mapping>
    <servlet-name>UpdateUserWX</servlet-name>
    <url-pattern>/UpdateUserWX</url-pattern>
  </servlet-mapping>  
       
  
</web-app>